---
- name: CIS Hardening for Amazon Linux 2
  hosts: localhost
  become: yes
  vars:
    ansible_python_interpreter: /usr/bin/python3

  roles:
    - role: common
    - role: cis_baseline
    - role: cis
